body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 20px;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align canvas container to the top of the page */
    height: 0vh; /* Adjust the height to make the canvas take up less space vertically */
    width: 20%; /* Adjust the width to 80% of the page's width */
    margin-top: 10px; /* Add some margin above the canvas */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}
